
.master div{
    padding: 1%;
    margin: 1%;
    display: block;
    float: left;
    width: 45%;
    background: rgb(140, 213, 122);
    border: 1px solid grey;
}
.master img{
    display: block;
    float: left;
    width: 50%;
    margin: 0 10px 10px 0;
}
